* {
    font-family: "SF Pro", FontAwesome;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0px;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#window,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    font-weight: normal;
}
    
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    font-size: larger;
}

#battery {
    font-size: larger;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: rgba(38, 166, 91, 0.8);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight {
    
}

#network {
    font-size: larger;
}

#network.disconnected {
    font-size: 12px;
    background-color: rgba(255, 85, 85, 0.5);
    padding-right: 8px;
}

#network.disabled {
    padding-right: 7px;
}

#bluetooth {
    font-size: larger;
    padding-left: 7px;
    padding-right: 7px;
}

#bluetooth.off {
    padding-right: 8px;
}

#pulseaudio {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

#pulseaudio:hover {
    
}

#pulseaudio.muted {
    background-color: #e3d1ae;
    color: #ae1c1c;
}

#tray {
    
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

menu {
    background: rgba(48, 48, 48, 0.9);
    color: white;
    font-weight: bold;
}

#custom-power {
    font-size: larger;
    padding-left: 4px;
    padding-right: 10px;
}

#window {
    font-weight: bold;
}